@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

#wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 44, 0.9010197829131653) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 40px rgb(181, 121, 121);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 5px;
  max-width: 600px;
  width: 90%;
  padding: 40px;
  margin: 0 auto;
}

h2 {
  font-size: 45px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: underline;
}

p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 25px;
  margin: 35px 10px;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 25px;
  margin: 0 auto;
}
